@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Lora");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input,
textarea,
select {
  font-family: inherit;
}
font-size inherit {
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  font-size: 14pt;
  text-align: center;
}
section > h2 {
  font-size: 150%;
  color: #887763;
  margin-bottom: 0.75em;
  margin-left: 0.4em;
}
body > section {
  margin: -1em 2em 0em 2em;
  padding-top: 3.5em;
  text-align: left;
}
.vcard .hide {
  display: none;
}
.vcard .type {
  display: none;
}
body > header {
  display: inline-block;
  height: 22.5em;
  width: 42em;
  position: relative;
}
body > header img {
  z-index: 1;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  position: absolute;
  width: 12em;
  height: 12em;
  float: left;
  opacity: 0.4;
}
body > header img.photo4 {
  top: 2em;
  left: -2.3em;
}
body > header img.photo2 {
  top: 2em;
  left: 12.7em;
}
body > header img.photo {
  top: 2em;
  left: 27.7em;
}
body > header img.photo3 {
  top: 2em;
  left: 42.7em;
}
body > header h1 {
  position: relative;
  z-index: 2;
  font-size: 400%;
  color: #887763;
  margin-top: 4em;
  margin-left: 0.25em;
  font-family: 'Lora', serif;
}
body > header h2 {
  position: relative;
  z-index: 2;
  margin-left: 1em;
  margin-top: -0.5em;
  font-size: 225%;
  color: #413543;
  font-family: 'Lora', serif;
  display: inline-block;
  margin-bottom: -0.4em;
}
#contactInfo {
  font-size: 68%;
  display: inline-block;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  color: #887763;
}
#contactInfo p {
  margin-bottom: 0.4em;
}
#contactInfo .type,
#contactInfo .countyCode,
#contactInfo .street-address,
#contactInfo .web {
  display: none;
}
#contactInfo a {
  color: #887763;
  text-decoration: none;
cursorhand
}
#contactInfo .social a:after {
  content: ' .';
}
#contactInfo .social a:last-child:after {
  content: '';
}
body > nav {
  margin-top: 3em;
  font-size: 125%;
  line-height: 200%;
  width: 100%;
  height: 3em;
}
body > nav.sticky ul {
  width: 100%;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.15em 0.15em #887763;
}
body > nav ul {
  text-align: center;
}
body > nav li {
  display: inline-block;
  padding-left: 1.5em;
}
body > nav a {
  color: #887763;
  text-decoration: none;
  padding: 0.25em 1em;
}
body > nav a:hover {
  color: #887763;
}
body > nav.sticky a {
  position: relative;
}
body > nav.sticky a.active:after {
  position: absolute;
  content: "";
  bottom: -0.1em;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -0.25em;
  border: 0.4em solid transparent;
  border-bottom-color: #887763;
}
#projects article {
  font-size: 105%;
  width: 38.5em;
  margin-left: auto;
  margin-right: auto;
}
#projects article header {
  text-align: right;
  vertical-align: top;
  height: 1.4em;
  margin-bottom: 1em;
}
#projects article header h3 {
  font-size: 140%;
  color: #413543;
  float: left;
}
#projects article header a {
  margin-left: 0.5em;
  color: #887763;
  text-decoration: none;
  font-size: 80%;
  vertical-align: bottom;
  line-height: 3em;
}
#projects article header a:after {
  content: "";
}
#projects article .description {
  margin-bottom: 1em;
  margin-left: 1em;
  color: #887763;
}
#projects article .description p {
  line-height: 1.4em;
}
#projects article .technologies {
  margin-left: 0.5em;
  display: inline-block;
  width: 29em;
}
#projects article .technologies h4 {
  font-size: 120%;
  margin-bottom: 0.5em;
}
#projects article .technologies h4:after {
  content: ":";
}
#projects article .technologies ul li {
  list-style: disc;
  margin-left: 2em;
  color: #887763;
}
#projects article .technologies ul li strong {
  color: #413543;
}
#projects article aside {
  height: 10em;
  margin: 1em;
  text-align: center;
}
#projects article aside img {
  height: 8em;
  margin: 1em;
}
#experience .employer,
#education .employer,
#experience .degree,
#education .degree {
  color: #413543;
  font-size: 125%;
}
#experience .dateRange,
#education .dateRange,
#experience .dateOfCompletion,
#education .dateOfCompletion {
  float: right;
  color: #413543;
}
#experience .jobTitle,
#education .jobTitle,
#experience .areaOfStudy,
#education .areaOfStudy {
  color: #887763;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}
#experience article,
#education article {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  margin-bottom: 2em;
}
#experience article h1,
#education article h1 {
  font-size: 80%;
}
#experience ul,
#education ul {
  font-size: 100%;
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  list-style: disc;
  color: #887763;
}
#experience ul li,
#education ul li {
  list-style: disc;
  margin-bottom: 0.25em;
}
#experience strong,
#education strong {
  color: #413543;
  font-weight: 600;
}
#competencies table {
  font-size: 100%;
  width: 55em;
}
#competencies table caption {
  text-align: left;
}
#competencies table caption p {
  font-size: 80%;
  color: #413543;
  margin-left: 0.75em;
  padding-bottom: 1.5em;
}
#competencies table thead th {
  font-size: 100%;
  color: #887763;
  text-decoration: bold;
  padding: 0.5em;
  padding-left: 0.75em;
}
#competencies table tbody {
  font-size: 90%;
  color: #887763;
}
#competencies table tbody tr {
  border-bottom: 1px solid #e0d3e3;
}
#competencies table tbody tr:last-child {
  border-bottom: none;
}
#competencies table tbody tr td {
  padding: 1em;
  padding-right: 0;
  border-right: 1px solid #e0d3e3;
}
#competencies table tbody tr td:first-child {
  font-size: 105%;
  padding-right: 0.5em;
  text-decoration: bold;
  color: #655c51;
}
#competencies table tbody tr td:last-child {
  border-right: none;
}
#competencies .workingOn {
  font-size: 110%;
  text-decoration: bold;
  color: #413543;
}
body > footer {
  padding-top: 6em;
  text-align: right;
  width: 100%;
  color: #887763;
  clear: both;
}
body > footer nav {
  text-align: center;
}
body > footer nav a {
  position: relative;
  color: #887763;
  text-decoration: none;
}
body > footer nav a:before {
  content: "";
  border: 0.5em solid #887763;
  border-left: none;
  border-bottom: none;
  position: absolute;
  top: -2em;
  left: -0.75em;
  width: 2.5em;
  height: 2.5em;
  display: block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
body > footer p {
  text-align: right;
  padding: 2em;
  color: #413543;
}
@media screen and (max-width:945px) {
  #experience article,
  #education article,
  #projects article {
    font-size: 130%;
  }
  #competencies h2 table {
    font-size: 200%;
  }
}
@media screen and (max-width:570px) {
  body > header {
    width: 38em;
    height: 24em;
  }
  body > header h1 {
    margin-top: 4.5em;
  }
  #contactInfo {
    font-size: 130%;
    margin-right: -4em;
  }
  #contactInfo p {
    margin-bottom: 0;
  }
}
@media screen and (max-width:860px) {
  #competencies caption p {
    font-size: 100%;
  }
}
@media screen and (max-width:665px) {
  #competencies table tbody tr td {
    font-size: 120%;
  }
  #competencies table tbody tr td:first-child {
    font-size: 130%;
  }
}
@media screen and (max-width:515px) {
  #competencies {
    margin: 0 1em;
    font-size: 125%;
  }
  #competencies h2 {
    font-size: 130%;
  }
  #competencies table {
    width: 45em;
  }
  body > footer {
    font-size: 140%;
  }
}
@media print {
  body {
    font-size: 11pt !important;
    width: 100%;
    margin: 2em;
  }
  body > nav,
  body > footer,
  #statement,
  #contactInfo .social {
    display: none;
  }
  #statement,
  #contactInfo + section,
  body > header {
    border: none;
  }
  #contactInfo {
    margin-top: 1em;
    width: auto;
    margin-right: 2em;
    text-align: right;
    vertical-align: top;
  }
  #contactInfo .web {
    display: inline;
  }
  #contactInfo p {
    margin-bottom: 0.2em;
  }
  #statement {
    font-size: 100%;
    padding: 0;
    margin-top: 1em;
  }
  #experience {
    margin-top: 0;
    width: 80%;
    padding: 0;
    font-size: 75%;
  }
  #experience h2 {
    display: block;
    font-size: 150%;
  }
  #experience h1,
  #experience h3 {
    color: #aaa !important;
  }
  #experience article {
    max-width: 50em;
    margin-bottom: 1em;
  }
  body * {
    color: #000 !important;
  }
  #competencies {
    padding-top: 0;
  }
  #competencies table {
    margin-left: 0.8em;
    width: 84%;
    font-size: 60%;
  }
  #competencies table caption {
    margin-left: -0.8em;
  }
  #competencies table tbody tr {
    border-bottom: 1px solid #aaa;
  }
  #competencies table tbody tr td {
    padding: 0.5em;
    border-right: 1px solid #aaa;
  }
  #competencies h2 {
    display: block;
    font-size: 175%;
  }
  #competencies caption p {
    display: none;
  }
  #competencies .workingOn {
    font-weight: 600;
  }
}
