@import url('http://fonts.googleapis.com/css?family=Open+Sans')
@import url('http://fonts.googleapis.com/css?family=Lora')

transition(n)
  transition n
  -webkit-transition n
  -moz-transition n
  -o-transition n
  -ms-transition n
  
transform(n)
  transform n
  -webkit-transform n
  -moz-transform n
  -o-transform n
  -ms-transform n

transform-origin(n)
  transform-origin n
  -webkit-transform-origin n
  -moz-transform-origin n
  -o-transform-origin n
  -ms-transform-origin n
  
headline = #887763
secondary = #413543
bgcolor = #eee
darkest = #fff
bordercolor = #e0d3e3
labelcolor = #655c51
lowimportance = #413543
//#282828
  
@import "html5-reset"

body 
  font-family 'Open Sans', sans-serif
  background-color bgcolor
  font-size 14pt
  text-align left

section
  > h2 
    font-size 200%
    color headline
    margin-bottom .75em

.vcard
  .hide 
    display none
  .type 
    display none

body > header 
  display inline-block
  height 38em
  width 38em
  position relative
  img 
    position absolute
    width 19.01em
    height 19.01em
    opacity .5
    &.photo1
      top 0
      left 0
    &.photo2
      top 0
      left 19em
    &.photo3
      top 19em
      left 19em
    &.photo4
      top 19em
      left 0em
  h1 
    font-size 400%
    color headline
    margin-top 7.71em
    margin-left .25em
    font-family 'Lora', serif
  h2 
    margin-left 1em
    margin-top -.5em
    font-size 225%
    color secondary
    font-family 'Lora', serif
    display inline-block
  border-right 1.25em solid headline

#contactInfo 
  display inline-block
  width 15em
  margin-left 1em
  p
    margin-bottom .5em
  color headline
  .type, .countyCode
    display none
  a 
    color headline
    text-decoration none
    cursorhand
  .social a
    &:after
      content: ' .'
    &:last-child:after
      content: ''

#contactInfo + section
  border-top 1.15em solid headline

#statement 
  padding 3em 2em
  p
    font-size 220%
    line-height 1.5em
  color labelcolor
  text-align center
  border-bottom 1.25em solid headline
  margin-bottom 1em

body > nav
  font-size 125%
  line-height 200%
  width 100%
  height 3em
  &.sticky ul
    width 100%
    background bgcolor
    position fixed
    top 0
    left 0
    box-shadow 0 .15em .15em headline
  ul
    text-align center
  li 
    display inline-block
    padding-left 5.5em
  a 
    color headline
    text-decoration none
    &:hover 
      color headline
  &.sticky a
    position relative
    &.active:after
      position absolute
      content ""
      bottom -.3em
      left 50%
      width 0
      height 0
      margin-left -.25em
      border .4em solid transparent
      border-bottom-color headline
      
#experience
  > h2
    display none
  margin -4em 2em 0em 2em
  padding-top 6.5em
  .employer 
    color secondary
    font-size 125%
  .dateRange 
    float right
    color secondary
  .jobTitle 
    color headline
    margin-top .1em
    margin-bottom .5em
  article 
    margin-left auto
    margin-right auto
    max-width 40em
    margin-bottom 2em
    h1
      font-size 80%
  ul 
    font-size 100%
    margin-left 1.5em
    margin-top .5em
    margin-bottom .25em
    list-style disc
    color headline
    li 
      list-style disc
      margin-bottom .25em
  strong 
    color secondary
    font-weight 600
    
#competencies
  padding-top 6.5em 
  h2
    display none
  margin 0 2em
  caption 
    text-align left
    p 
      font-size 80%
      color lowimportance
      margin-left .75em
      padding-bottom 1.5em
  table 
    width 98%
    thead th 
      font-size 100%
      color headline
      text-decoration bold
      padding .5em
      padding-right 1em
      padding-left .25em
    tbody   
      font-size 90%
      color headline
      tr 
        border-bottom 1px solid bordercolor
        &:last-child 
          border-bottom none
        td 
          padding 1em
          padding-right 0
          border-right 1px solid bordercolor
          &:first-child 
            font-size 105%
            padding-right .5em
            text-decoration bold
            color labelcolor
          &:last-child 
            border-right none
  .workingOn 
    font-size 110%
    text-decoration bold
    color secondary
body > footer 
  padding-top 6em
  text-align right
  width 100%
  color headline
  clear both
  nav
    text-align center
    a
      position relative
      color headline
      text-decoration none
      &:before
        content ""
        border .5em solid headline
        border-left none
        border-bottom none
        position absolute
        top -2em
        left -.75em
        width 2.5em
        height 2.5em
        display block
        transform rotate(-45deg)
      
  p 
    text-align right
    padding 2em
    color secondary
  
// below 945px, lessen the margin on the sides
@media screen and (max-width:945px)
  #experience
    font-size 130%
//below 570 px grow the contact information
@media screen and (max-width:570px)
  #contactInfo
    font-size 130%
    margin-right -5em
// below 860px, keep the bold key readable
@media screen and (max-width:860px)
  #competencies
    caption p
      font-size 100%
// below 665px, keep the table readable
@media screen and (max-width:665px)
  #competencies
    table tbody tr td
      font-size 120%
    table tbody tr td:first-child
      font-size 130%
// below 515px, keep the table readable
@media screen and (max-width:515px)
  #competencies
    margin 0 1em
    font-size 125%
  body > footer
    font-size 140%
    