@import url('http://fonts.googleapis.com/css?family=Open+Sans')

bgcolor = #eee

@import "../html5-reset"

body 
  font-family 'Open Sans', sans-serif
  background-color bgcolor
  font-size 14pt
  text-align center
body > header
  text-align left
  margin-left 2em
  h1
    font-size 200%
  h2
    font-size 125%
    margin-left 1em
#banner
  margin-top 2em
  .videoContainer
    margin-left auto
    margin-right auto
  .videoContainer, #intermediate
    height 200px
    width 300px
  #first, #second, #intermediate
    display none
#source
  margin-top 2em
  h3
    background-color white
    display inline-block
    padding .5em 1em
    border-radius .5em .5em 0 0
  text-align left
  margin-left auto
  margin-right auto
  width 40em
  code
    font-size 80%
    background-color white
    padding .5em
    margin-bottom 2em
    font-family monospace
    overflow auto
    border-radius 0 .5em .5em .5em