!!! 5
html
  head
    title Eyemaginations Code Sample - Donald Abrams
    link(rel='stylesheet', href='highlight-github.css')
    link(rel='stylesheet', href='eyemaginations.css')
    script(src='../jquery-1.8.1.min.js')
    script(src='underscore-min.js')
    != "<script type='template/underscore' id='sourceTemplate'>"
    article.source-file
      h3 <%-data.filename %>
      pre
        code
          <%-data.code %>
    != "</script>"
    script(src='eyemaginations.js')
  body
    header
      h1 Eyemaginations Code Sample
      h2 Donald Abrams
    section#banner
      p Please note that this currently does not work in firefox as the specs called for an mp4. 
      button#start start
      .videoContainer
        video#first(controls="controls", preload="auto")
          source(src="https://dl.dropbox.com/u/37618032/videos/clipcanvas_14348_H264_640x360.mp4", type="video/mp4")
        img#intermediate(src="sneakysnake.gif")
        video#second(controls="controls", preload="auto")
          source(src="https://dl.dropbox.com/u/37618032/videos/oceans-clip.mp4", type="video/mp4")
    section#source